body {
    font-family: Arial, Helvetica, sans-serif;
}


.idolos {
    width: 940px;
    margin: 0 auto;
    padding: 80px 0;
}

.idolos li  {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 30%;
    box-sizing: border-box;
    margin: 0 1.5%;
    border: 2px solid black;
    border-top-width: 10px;
    border-right-width: 7px;
    border-radius: 10px;

}

.idolos li:hover{
    border-color: #C78C19;
}

.idolos h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 15px;
}

.idolos li:hover h2 {
    font-size: 45px;
}

.nome {
        font-size: 18px;
}

.gols {
        font-size: 22px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 25px;
}


