
#banner {
    width: 100%;    
}
.rubronegro {
    margin-top: 10px;
    text-align: center; background-color: #8b0000; color: #f0ffff;
    font-family: Arial, Helvetica, sans-serif;
}

.alvinegro {
    margin-top: 10px;
    text-align: center; background-color: black; color: #f0ffff;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 32px;
}

.escudo {
    width: 5%;
    margin-left: 47%
}

p {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.time {
    padding-top: 30px;
    padding-bottom: 5px;
}
