
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.3
}

header {
    background: #BBBBBB;
    padding: 30px 0;
    font-family: 'Montserrat', sans-serif;
}


.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.logo {
    width: 35%;
}

nav {
    position: absolute;
    top: 30px;
    right: 0;

}

nav li {
    display: inline;
    margin: 0 0 0 15px;
    
}


nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;

}

nav a:hover {
    color: #C78C19;
}

footer {
    text-align: center;
    background: url("idolos/soccer.png");
    padding-top: 20px;
}

.copyright {
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: black;
    color: white;
}

.egg {
    text-decoration: none;
    color: white;
    cursor:default;
}

form {
    margin: 40px 0;
}

form label, form legend {
    margin: 0 0 10px;
    display: block;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.imput-padrao {
    display: block;
    margin-bottom: 25px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    width: 40%;
}

.enviar {
    width: 20%;
    padding: 10px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.enviar:hover {
    background: darkorange;
    transform: scale(1.1);
}

.contato {
    width: 940px;
    margin: 0 auto;
}

.formulado {
    display: inline-block;
    width: 30%;
}




/* Css da pagina principal */

.alvinegro {
    background: black;
    color: white;
}

.rubronegro {
    background: darkred;
    color: white;
    margin-bottom: 5px;
}

.time {
    width: 940px;
    margin: 0 auto;
}

.time h1 {
    margin-bottom: 10px;
    padding: 3px;
}

.banner {
    width: 100%;
    margin-bottom: 10px;
}

.rubronegro, .alvinegro {
    font-size: 2em;
    text-align: center;
}

.escudo {
    float: left;
    margin-right: 15px;
    width: 70px;
    box-shadow: 5px 5px 5px black;   
}

.escudo:hover {
    transform: scale(1.03);
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.mapa {
    background: linear-gradient( white, #888888);
    padding-bottom: 50px;

}

.mapa ul {
    width: 940px;
    margin: 0 auto;
    text-align: center;
    padding: 5px 0;
}

.mapa h2 {
    text-align: center;
    margin: 4em 0 0 0;
    font-size: 1.5em;
}

.mapa p {
    margin: 0 0 1em;
    text-align: center;
}

.mapa li {
    width: 30%;
    display: inline-block;
}

.paragrafo-mapa:before {
    content: "🏆";
} 

@media screen and (max-width: 480px) {
    .caixa, .principal, .mapa ul, .time, .idolos, .contato {
        width: auto;
    }

    .principal p {
        margin-left: 5%;
        margin-right: 5%;
        text-align: justify;
    }

    .imput-padrao {
        width: 100%;
    }

    .enviar {
        width: 50%;
    }

    .contato {
        margin-left: 8%;
        margin-right: 15%;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
        text-align: center;
    }

    .logo {
        width: 55%;
        padding-bottom: 15px;
    }

    .banner {
        margin-bottom: 0px;
    }

    .idolos li {
        display: block;
        width: 70%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10%;
    }

